.container{
    height: 250px;
    border: 2px solid;
}

#c1{
    margin: 10px auto auto 250px;
    height: 450px;
    width: 450px;
    background-color: lightskyblue;
    border: 2px solid;
    float:left;
    position: relative;
}

#c2{
    margin: 10px auto auto 250px;
    height: 450px;
    width: 250px;
    background-color: rgba(146, 40, 146, 0.671);
    border: 2px solid;
    float: left;
    padding-top:15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.square{
    position: absolute;
    background-color: red;
}

.rectangle{
    position: absolute;
    background-color: green;
}

.circle{
    position: absolute;
    background-color: purple;
    border-radius: 50%;
}

.triangle{
    position: absolute;
}
